{% extends 'layout.html' %}

{% block page_title %}
Startseite
{% endblock %}

{% block page_js %}
<script src="{{ LINK_MAIN }}assets/js/searchScoutGroup.js"></script>
{% endblock %}

{% block content %}
<h1>Mein Stamm in der WOSM</h1>
<p>
Dieses Projekt ist ein GUI für das von <a href="https://github.com/BitScout">BitScout</a> geschriebene Skript <a href="https://github.com/BitScout/MeinStammInDerWOSM">MeinStammInDerWOSM</a>.
</p>

<p>
Hier könnt ihr euch einfach eine SVG Datei für euren Stamm erstellen lassen, welches die Ebenen ab der WOSM abbildet.
</p>

<form class="form-horizontal" action="{{ LINK_MAIN }}getSVG" method="POST" role="form">
	<div class="form-group">
		<input type="text" placeholder="Gib hier deinen Stamm oder eine PLZ ein" class="form-control input-lg text-center" name="group_name" />
		<input type="hidden" value="" name="group_id" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn-lg btn btn-primary">Los geht's</button>
	</div>
</form>
{% endblock %}
